.bg-gradient {
    background: linear-gradient(108deg, #66E6FF 0%, #66F 100%);
}

.bg-gradient-2 {
    background: linear-gradient(#66E6FF, #6666FF);
}

.bg-gradient-3 {
    background: linear-gradient(#FFFFFF66, #FFFFFF66);
}
