.close {
    transform: rotate(0deg);
    cursor: pointer;
}
.open {
    transform: rotate(45deg);
    cursor: pointer;
}

.transition {
    border: 0;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 0.5s;
}

.default-color {
    fill: #B2B2B2;
    transition: 200ms ease;
}
.hovered-color {
    fill: #4D4D4D;
    transition: 200ms ease;
}

.default-size {
    scale: 1;
    transition: 200ms ease;
}
.hovered-size {
    scale: 1.1;
    transition: 200ms ease;
}