@use "../abstracts" as *;

.card {
    grid-auto-flow: row;
    width: 280px;
    height: 280px;
    overflow: hidden;
    & .note-content {
        overflow: hidden;
        font-weight: 600;
    }
    & .bottom-note {
        align-items: end;

        & .note-button {
            min-width: 36px;
            min-height: 36px
        }

        & .note-button:hover {
            box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.2);
            transform: scale(1.2);
            transition: ease 200ms;
        }

        & .public-button {
            min-width: 36px;
            min-height: 36px;
            color: $color-current-000;
            background-color: $color-current-black;
        }
    }
}

.public-button-highlighted {
    color: $color-current-yellow !important;
}

.favorite-highlighted > svg > path {
    fill: $color-current-yellow !important;
}

.yellow {
    background-color: $color-current-yellow;
}

.red {
    background-color: $color-current-red;
}

.green {
    background-color: $color-current-green;
}

.cyan {
    background-color: $color-current-cyan;
}

.pink {
    background-color: $color-current-pink;
}
