@use '../abstracts' as *;

.canvas {
    height: 100%;
    width: 100%;
    overflow: hidden;
    @include mq(medium) {
        display: grid;
        place-items: center;
    }
}

.main-layout {
    height: 100%;
    overflow: hidden;
    & main {
        display: grid;
        grid-template-rows: auto 1fr;
        overflow: hidden;
        height: 100%;
        background: $color-current-half;
        background-blend-mode: luminosity;
        @include mq(medium) {
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            padding: $size-5 0 0 $size-6
        }
        & h1 {
            margin-bottom: 1rem;
        }
    }
    @include mq(medium) {
        display: grid;
        grid-template-columns: clamp(5.5rem, 10vw, 7.5rem) 1fr;
        width: 80%; 
        height: 80%;
        max-width: 1200px;
    }
}

.main-header {
    & h1 {
        padding-top: .5rem;
    }
    & .search-bar {
        display: flex;
        margin: 0 auto;
        width: 60%;
        min-height: 44px;
        padding: 0px 10px 0px 16px;
        align-items: center;
        gap: 10px;
        color: $color-current-000;
        border-radius: 100px;
        outline: none;
        border: 1px solid hsla(0, 0%, 100%, 0.4);
        background: $color-current-transparent;
        background-blend-mode: luminosity, color-burn;
        @include mq(medium) {
            width: 100%;
        }

    }
    @include mq(medium) {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
    }
}

.note-section {
    overflow: auto;
    max-height: 65%;
    margin-top: $size-4;
    // scrollbar for Firefox
    scrollbar-color: $color-current-000 $color-current-transparent;
    @include mq(medium) {
        max-height: 100%;
    }

    & .overflow-section {
        display: grid;
        justify-content: center;
        gap: 1rem;
        padding: $size-2;
        
        @include mq(small) {
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            padding-bottom: $size-7;
        }
        @include mq(medium) {
            justify-items: start;
        }
        @include mq(large) {
            grid-template-columns: repeat(3, 1fr);
            padding-bottom: $size-7;
        }
    }

    &::-webkit-scrollbar {
        width: 0.5rem;
    }
    
    &::-webkit-scrollbar-track {
      background-color: $color-current-transparent;
      border-radius: 100vw;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: $color-current-000;
      border-radius: 100vw;
    }
}

.categories {
    display: flex;
    justify-content: center;
    margin-top: $size-4;
    gap: .75rem;
    @include mq(medium) {
        justify-content: start;
    }
}

.current-category {
    border-bottom: solid 1px $color-current-000;
}

.empty-notes {
    margin-top: $size-4;
}